.buttons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 10dvh;
    left: 0;
    width: 100vw;
    z-index: 1000;
}

.buttons_container button {
    font-size: 24px;
    padding-inline: 20px;
}

.result_view {
    position: fixed;
    bottom: 14dvh;
    left: 0;
    text-align: center;
    width: 100vw;
    z-index: 1000;
    color: white;
    background-color: black;
}

#notification {
    position: fixed;
    z-index: 1000;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    font-size: 22px;
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s;
}

.hidden {
    display: none;
}
